@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500;700&display=swap');

@theme {
  --font-outfit: 'Outfit', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
  --font-sans: 'Outfit', sans-serif;
  --color-Purple: rgba(102, 82, 152, 1);
  --color-Grey: rgba(120, 118, 125, 1);
  --color-LightWhite: rgba(242, 240, 249, 1);
  --color-LightGreen: rgba(216, 247, 221, 1);
  --color-LightBlue: rgba(239, 246, 255, 1);
  --color-Violet: rgba(122, 114, 137, 1)
}